<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">
            Cart
        </ion-title>
        <!-- <ion-buttons slot="end">
            <ion-button color="light" routerLink="addTask">
                <ion-icon name="home"></ion-icon>
            </ion-button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
